.container__card {
    border-radius: 15px;
    margin-bottom: 2em;
    border-radius: 15px;
    height: 263px;
    width: 264px;
    margin: 0 auto;
    
}

.card-margin {
    padding-bottom: 1.5rem;
}

