.footer {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    margin-top: 2rem;
    font-size: 0.8em;
    padding-left: 2rem;
    padding-right: 2rem;
}

.footer__div {
padding: 1rem;
}
    
.footer__p{
    margin: 0;
    font-size: 12px;
    font-weight: 700;
}

